:root {
  --clr-bg: #353d30;
  --clr-neon: #7deb34;
}

*,
*::before,
*::after{
  box-sizing: border-box;
}
body{
  font-size: 3rem;
  font-family: cursive;
  min-height: 100vh;
  display: grid;
  place-items: center;
  background-color: var(--clr-bg);
  color: var(--clr-neon);
}

/* class */

.btn{

  padding: 20px 20px;
  /* display: inline-block; */
  text-align: center;
  background-color: transparent;
  position: absolute;
  top:29.5em;
  cursor: pointer;
  border:none;
  border-radius: 50%;
}

.btn0{
  padding: 20px 20px;
  /* display: inline-block; */
  text-align: center;
  background-color: transparent;
  position: absolute;
  top:29.5em;
  cursor: pointer;
  border:none;
  border-radius: 50%;
}

.life-sign{
  color: yellow;
  position: absolute;
  display: inline-block;
  border: yellow 2px solid;
  border-radius: .25em;
  padding: 10px 25px;
  right:72%;
  top: 11.8em;
  font-size: 1em;
  box-shadow: inset 0 0 0.5em 0 yellow, 0 0 0.5em 0 yellow;
}
.neon-sign{
  display: inline-block;
  border: var(--clr-neon) 4px solid;
  padding: 0.525em 1em;
  border-radius: .25em;
  text-shadow: 0 0 0.125em green, 0 0 0.425em #9ef7d4;
  box-shadow: inset 0 0 0.5em 0 var(--clr-neon),
    0 0 0.5em 0 var(--clr-neon);
  position: relative;

  /* animation: glow linear 5s */

}

.neon-sign::before{
  content:"";
  pointer-events: none;
  position: absolute;
  background-color: var(--clr-neon);
  top:120%;
  left:0%;
  width: 100%;
  height: 100%;
  transform:perspective(2.5em) rotateX(40deg)
  scale(1, 0.75);
  filter: blur(1em);
  opacity: 0.5;
}

.neon-sign:hover{
  box-shadow: inset 0 0 0.9em 0 var(--clr-neon),
  0 0 0.9em 0 var(--clr-neon);
  text-shadow: 0 0 0.125em darkgreen, 0 0 0.825em #9ef7d4;
}

.neon-sign:hover::before{
  opacity: 1;
}

.overlay{
  position: absolute;
  top:0;
  left: 0;
  font-size: 3rem;
  font-family: cursive;
  min-height: 100%;
  width: 100%;
  display: grid;
  place-items: center;
  color: black;
  /* opacity: 0.4; */
  background-color: none;
}
.off-sign{
  position: relative;
  display: inline-block;
  border: black 4px solid;
  padding: 0.525em 1em;
  border-radius: .25em;
  opacity: 0.4;
  top: 27.7%;
}
